@media (max-width: 1300px) {
  section {
    font-size: 100px !important;
  }
}

@media (max-width: 700px) {
  section {
    font-size: 70px !important;
  }
}

@media (max-width: 700px) {
  section {
    font-size: 40px !important;
  }
}

html {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  font-size: 200px;
  font-weight: bold;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  z-index: 1;
  cursor: pointer;
  position: relative;
  scroll-snap-align: start;
}

section:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}

section div {
  z-index: 3;
}

.vibration-demo {
  background-image: url("./vibrato-bg.jpeg");
}

.vibration span {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  margin-right: 30px;
}

.vibration span:hover {
  -webkit-filter: blur(3px);
          filter: blur(3px);
  -webkit-animation: vibrate 50ms linear infinite forwards;
          animation: vibrate 50ms linear infinite forwards;
  text-shadow: 1px 1px 2px #eee;
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translateX(-1px) translateY(1px);
            transform: translateX(-1px) translateY(1px);
  }
  100% {
    -webkit-transform: translateX(1px) translateY(-2px);
            transform: translateX(1px) translateY(-2px);
  }
}

@keyframes vibrate {
  0% {
    -webkit-transform: translateX(-1px) translateY(1px);
            transform: translateX(-1px) translateY(1px);
  }
  100% {
    -webkit-transform: translateX(1px) translateY(-2px);
            transform: translateX(1px) translateY(-2px);
  }
}

section.waves-demo:after {
  background-color: rgba(0, 0, 0, 0.7);
}

.waves-demo {
  background-image: url("./waves-bg.jpeg");
}

.waves {
  color: transparent;
  -webkit-text-stroke: 2px #fff;
  position: relative;
}

.waves:after {
  content: attr(data-word);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  -webkit-animation: waves 2s ease-in-out infinite forwards;
          animation: waves 2s ease-in-out infinite forwards;
}

@-webkit-keyframes waves {
  0%, 100% {
    -webkit-clip-path: polygon(0 66%, 11% 59%, 18% 51%, 26% 46%, 35% 41%, 48% 44%, 55% 54%, 63% 63%, 76% 60%, 82% 50%, 92% 48%, 100% 53%, 100% 100%, 0% 100%);
            clip-path: polygon(0 66%, 11% 59%, 18% 51%, 26% 46%, 35% 41%, 48% 44%, 55% 54%, 63% 63%, 76% 60%, 82% 50%, 92% 48%, 100% 53%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 66%, 8% 74%, 17% 77%, 28% 70%, 35% 57%, 48% 44%, 56% 39%, 69% 41%, 75% 47%, 84% 60%, 92% 61%, 100% 53%, 100% 100%, 0% 100%);
            clip-path: polygon(0 66%, 8% 74%, 17% 77%, 28% 70%, 35% 57%, 48% 44%, 56% 39%, 69% 41%, 75% 47%, 84% 60%, 92% 61%, 100% 53%, 100% 100%, 0% 100%);
  }
}

@keyframes waves {
  0%, 100% {
    -webkit-clip-path: polygon(0 66%, 11% 59%, 18% 51%, 26% 46%, 35% 41%, 48% 44%, 55% 54%, 63% 63%, 76% 60%, 82% 50%, 92% 48%, 100% 53%, 100% 100%, 0% 100%);
            clip-path: polygon(0 66%, 11% 59%, 18% 51%, 26% 46%, 35% 41%, 48% 44%, 55% 54%, 63% 63%, 76% 60%, 82% 50%, 92% 48%, 100% 53%, 100% 100%, 0% 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 66%, 8% 74%, 17% 77%, 28% 70%, 35% 57%, 48% 44%, 56% 39%, 69% 41%, 75% 47%, 84% 60%, 92% 61%, 100% 53%, 100% 100%, 0% 100%);
            clip-path: polygon(0 66%, 8% 74%, 17% 77%, 28% 70%, 35% 57%, 48% 44%, 56% 39%, 69% 41%, 75% 47%, 84% 60%, 92% 61%, 100% 53%, 100% 100%, 0% 100%);
  }
}

.glow-demo {
  background-image: url("./glow-bg.jpeg");
}

section.glow-demo:after {
  background-color: rgba(0, 0, 0, 0.7);
}

.glow span {
  color: #fff;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.glow span:hover {
  text-shadow: 0 0 10px #0698a5, 0 0 30px #0698a5, 0 0 80px #0698a5, 0 0 120px #0698a5, 0 0 200px #0698a5;
}

.reveal-demo {
  background-image: url("./reveal-bg.jpeg");
}

section.reveal-demo:after {
  background-color: rgba(0, 0, 0, 0.9);
}

.reveal {
  color: #fff;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.reveal span {
  display: inline-block;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.reveal span:after {
  content: 'can stop it';
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  bottom: -10px;
  left: 50%;
  width: 200px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.reveal:hover {
  color: rgba(255, 255, 255, 0.1);
}

.reveal:hover span {
  -webkit-transform: scale(2);
          transform: scale(2);
  color: #fff;
  margin: 0 45px;
}

.reveal:hover span:after {
  opacity: 1;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}
/*# sourceMappingURL=styles.css.map */